nav {
	@include outer-container;
	height: 60px;
	background-color: $greenBkgd;
	line-height: 60px;
	a {
		display: block;
		height: 100%;
		text-decoration: none;
		user-select: none;
		color: inherit;
		transition: color 300ms;
		text-align: center;
		&:hover { color: $white; text-decoration: none; }
		&.active { border-bottom: 5px solid $yellowBkgd; }
		&#Home, &#Clientform, &#Contact, &#Testimonials {
			@include span-columns(2);
		}
	}
	#ServicesAndPricing, #Images { 
		text-align: center;
		cursor: pointer;
		height: 100%; 
		position: relative;
		transition: color 300ms;
		div { 
			box-shadow: 0px 0px 2px 1px $shadowGray;
			width: 100%;
			display: none; 
			position: absolute;
			z-index: 100;
			background-color: $yellowBkgd;
			a { 
				color: $black; 
				&:hover { text-decoration: underline; }
			}
		}
		&:hover { color: $white; }
		&.active { 
			border-bottom: 5px solid $yellowBkgd; 
			&:hover { border-bottom-style: none; }
		}
	}
	#ServicesAndPricing { 
		@include span-columns(2); 
		line-height: normal; 
		padding: 10px 0; 
	}
	#ServicesAndPricing {
		div {
			top: 60px;
			a { line-height: 60px; }
		}
	}
	#Images { @include span-columns(2); }
}